<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form action="" method="POST">
        <label>Book Name</label>
      <input type="text" name="book_name" value="{{book.title}}"/>
      <label>Book Author</label>
      <input type="text" name="author" value="{{book.author}}"/>
      <label>Rating</label>
      <input type="text" name="rating" value="{{book.rating}}"/>
      <button type="submit">Edit Book</button>
    </form>
</body>
</html>