<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    <ul>
      {% if books %}
        {% for book in books %}
          <li>
            <strong>{{book.title}} - </strong>
            <strong>{{book.author}} - </strong>
            <strong>{{book.rating}} /10</strong>
            <a href="{{url_for('edit', book_id=book.id)}}">Edit</a>
            <form action="{{url_for('delete', book_id=book.id)}}" method="POST" style="display: inline;">
                <button type="submit">Delete</button>
            </form>
          </li>
        {% endfor %}
      {% else %}
        <p>Library empty.</p>
      {% endif %}
    </ul>

    <a href="{{url_for('add')}}">Add New Book</a>
  </body>
</html>
